<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Post</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>View Post</h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <h2><%= postids.title %></h2>
      <a href="/posts/show/<%=postids.id%>"><%= postids.link %></a>
      <div>
        <p><%= postids.description %></p>
        <p>Created by: <%= postids.creator.uname %></p>
        <p>Date Created: <%= postids.timestamp %></p>
      </div>

      <div>
        <!-- each of these should show the comment description, creator, and timestamp
        optionally, each comment could have a link to delete it -->
        <% postids.comments.forEach(comment => { %>
            <p><%= comment.description %></p>
            <p>Created by: <%= comment.creator.uname %></p>
                  <% if (comment.creator) { %>
            <button role="button" href="/posts/comments/deleteconfirm/<%= comment.id %>">delete comment</button>
            <button role="button" href="/posts/comments/<%= comment.id %>">edit comment</button>
                  <% } %>
       <% }) %>
        <form action="/posts/comment-create/<%=postids.id %>" method="post">
          <input
            type="text"
            placeholder="Your comment here"
            name="comment"
            id=""
          />
          <button>add comment</button>
        </form>
      </div>
      <div>
        <!--here is where edit messgae will go-->
        <a role="button" href="/posts/edit/<%=postids.id%>">Edit Post</a>
      </div>
    </main>
  </body>
</html>
